<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>Users</tr>
    </thead>
    <tbody>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td>
            <a th:href="@{'/edit/'+${user.id}}">edit</a>
            <a th:href="@{'/delete/'+${user.id}}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h2>Add user</h2>
<a th:href="@{'/add'}">Add new user</a>
</body>
</html>